<!--
SPDX-FileCopyrightText: 2021 George Florea Bănuș <georgefb899@gmail.com>

SPDX-License-Identifier: CC-BY-4.0
-->

<h2>Command</h2>
<div>
    What mpv command to run,
    see <a href="https://mpv.io/manual/stable/#list-of-input-commands">MPV Commands</a>
    for a list of available commands.<br>
    Not all commands will work as some are specific for mpv.<br>
    Most useful are the commands to manipulate properties,
    like <strong>set</strong>, <strong>add</strong>, <strong>cycle</strong>.<br>
    <strong>set</strong>: sets the value of a property <strong>set volume-max 150</strong>.<br>
    <strong>add</strong>: increases/decreases the value of a property <strong>add volume 15</strong>,
    increases volume by 15. To decrease the value use <strong>add volume -15</strong>.<br>
    <strong>cycle</strong>: cycle through the values of a property <strong>cycle aid up</strong>.
</div>

<h2>OSD message</h2>
<div>
    An OSD message to display when triggering an action type custom command.<br>
    Use ${property_name} to display the value of a property <strong>Volume: ${volume}</strong>.
</div>

<h2>Keyboard shortcut</h2>
<div>
    The command will be triggered with a shortcut. The shortcut can be set after saving.
</div>

<h2>Run at startup</h2>
<div>
    The command will be run at application startup.
</div>
